#tweeple= @result.tweeple.join(", ")
%hr
#hashtags= @result.hashtags.join(", ")
%hr
#words
	- @result.words.each_pair do |key, value|
		%div{:class => "profile"}= "#{key} occurs #{value} times"
#urls
	- @result.urls.each_with_index do |url, index|
		%div{:id => "url_#{index + 1}", :class => "profile"}= url